In [2]:
import duckdb
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import statsmodels.api as sm

### 2022

In [3]:
db_file = 'data/ebird_2022.parquet'
sql = f"""
SELECT
    common_name || ' (' || scientific_name || ')' as types,
    SUM(CAST(observation_count AS INT)) AS counts,
    SUM(CAST(observation_count AS INT)) / SUM(SUM(CAST(observation_count AS INT))) OVER () AS prob
FROM '{db_file}'
WHERE observation_count != 'X'
GROUP BY 1
ORDER BY counts DESC
"""
results = duckdb.sql(sql)
results_df = results.df()
results_df['total_unique'] = len(results_df.index)
results_df
results_df.to_csv('data/allotaxp_2022.csv')

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

### 2021

In [4]:
db_file = 'data/ebird_2021.parquet'
sql = f"""
SELECT
    common_name || ' (' || scientific_name || ')' as types,
    SUM(CAST(observation_count AS INT)) AS counts,
    SUM(CAST(observation_count AS INT)) / SUM(SUM(CAST(observation_count AS INT))) OVER () AS prob
FROM '{db_file}'
WHERE observation_count != 'X'
GROUP BY 1
ORDER BY counts DESC
"""
results = duckdb.sql(sql)
results_df = results.df()
results_df['total_unique'] = len(results_df.index)
results_df
results_df.to_csv('data/allotaxp_2021.csv')

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

### 2020

In [18]:
db_file = 'data/ebird_2010.parquet'
sql = f"""
SELECT
    common_name || ' (' || scientific_name || ')' as types,
    SUM(CAST(observation_count AS INT)) AS counts,
    SUM(CAST(observation_count AS INT)) / SUM(SUM(CAST(observation_count AS INT))) OVER () AS prob
FROM '{db_file}'
WHERE observation_count != 'X'
GROUP BY 1
ORDER BY counts DESC
"""
results = duckdb.sql(sql)
results_df = results.df()
results_df['total_unique'] = len(results_df.index)
results_df
results_df.to_csv('data/allotaxp_2020.csv')

### 2005

In [5]:
db_file = 'data/ebird_2005.parquet'

In [6]:
sql = f"""
SELECT
    common_name || ' (' || scientific_name || ')' as types,
    SUM(CAST(observation_count AS INT)) AS counts,
    SUM(CAST(observation_count AS INT)) / SUM(SUM(CAST(observation_count AS INT))) OVER () AS prob
FROM '{db_file}'
WHERE observation_count != 'X'
GROUP BY 1
ORDER BY counts DESC
"""
results = duckdb.sql(sql)
results_df = results.df()
results_df['total_unique'] = len(results_df.index)
results_df

,types,counts,prob,total_unique
0,Red-winged Blackbird (Agelaius phoeniceus),13995306.0,2.009507e-01,1196
1,Common Grackle (Quiscalus quiscula),4950668.0,7.108386e-02,1196
2,Snow Goose (Anser caerulescens),3160916.0,4.538581e-02,1196
3,Canada Goose (Branta canadensis),2910003.0,4.178310e-02,1196
4,Wilson's Phalarope (Phalaropus tricolor),2399966.0,3.445976e-02,1196
...,...,...,...,...
1191,Chestnut-fronted Macaw (Ara severus),1.0,1.435844e-08,1196
1192,Brown/Long-billed Thrasher (Toxostoma rufum/lo...,1.0,1.435844e-08,1196
1193,Yellow-nosed Albatross (Thalassarche chlororhy...,1.0,1.435844e-08,1196
1194,Northern Parula x Yellow-throated Warbler (hyb...,1.0,1.435844e-08,1196
1195,Orange-breasted Bunting (Passerina leclancherii),1.0,1.435844e-08,1196

In [7]:
results_df.to_csv('data/allotaxp_2005.csv')

### 2010

In [8]:
db_file = 'data/ebird_2010.parquet'

In [9]:
sql = f"""
SELECT
    common_name || ' (' || scientific_name || ')' as types,
    SUM(CAST(observation_count AS INT)) AS counts,
    SUM(CAST(observation_count AS INT)) / SUM(SUM(CAST(observation_count AS INT))) OVER () AS prob
FROM '{db_file}'
WHERE observation_count != 'X'
GROUP BY 1
ORDER BY counts DESC
"""
results = duckdb.sql(sql)
results_df = results.df()
results_df['total_unique'] = len(results_df.index)
results_df

,types,counts,prob,total_unique
0,Red-winged Blackbird (Agelaius phoeniceus),24929071.0,9.150201e-02,1284
1,Tree Swallow (Tachycineta bicolor),23267210.0,8.540216e-02,1284
2,Snow Goose (Anser caerulescens),17368656.0,6.375155e-02,1284
3,Canada Goose (Branta canadensis),13130226.0,4.819442e-02,1284
4,Common Grackle (Quiscalus quiscula),11541078.0,4.236146e-02,1284
...,...,...,...,...
1279,Chilean Flamingo (Phoenicopterus chilensis),1.0,3.670494e-09,1284
1280,Violet-green x Cliff Swallow (hybrid) (Tachyci...,1.0,3.670494e-09,1284
1281,Great/Double-crested Cormorant (Phalacrocorax ...,1.0,3.670494e-09,1284
1282,Wood Duck x Mallard (hybrid) (Aix sponsa x Ana...,1.0,3.670494e-09,1284
1283,Fea's Petrel (Pterodroma feae),1.0,3.670494e-09,1284

In [10]:
results_df.to_csv('data/allotaxp_2010.csv')

### 2015

In [11]:
db_file = 'data/ebird_2015.parquet'

In [12]:
sql = f"""
SELECT
    common_name || ' (' || scientific_name || ')' as types,
    SUM(CAST(observation_count AS INT)) AS counts,
    SUM(CAST(observation_count AS INT)) / SUM(SUM(CAST(observation_count AS INT))) OVER () AS prob
FROM '{db_file}'
WHERE observation_count != 'X'
GROUP BY 1
ORDER BY counts DESC
"""
results = duckdb.sql(sql)
results_df = results.df()
results_df['total_unique'] = len(results_df.index)
results_df

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,types,counts,prob,total_unique
0,Snow Goose (Anser caerulescens),46278187.0,7.164355e-02,1448
1,Canada Goose (Branta canadensis),34081246.0,5.276139e-02,1448
2,Tree Swallow (Tachycineta bicolor),32640874.0,5.053154e-02,1448
3,Red-winged Blackbird (Agelaius phoeniceus),29000623.0,4.489604e-02,1448
4,Sooty Shearwater (Ardenna grisea),21205449.0,3.282829e-02,1448
...,...,...,...,...
1443,Brown/Long-billed Thrasher (Toxostoma rufum/lo...,1.0,1.548106e-09,1448
1444,Common Ringed/Semipalmated Plover (Charadrius ...,1.0,1.548106e-09,1448
1445,Hooded x Common Merganser (hybrid) (Lophodytes...,1.0,1.548106e-09,1448
1446,Oriental Greenfinch (Chloris sinica),1.0,1.548106e-09,1448
1447,Altamira x Audubon's Oriole (hybrid) (Icterus ...,1.0,1.548106e-09,1448

In [13]:
results_df.to_csv('data/allotaxp_2015.csv')

## Vermont September only

### 2005

In [15]:
db_file = 'data/ebird_2005.parquet'
sql = f"""
SELECT
    common_name || ' (' || scientific_name || ')' as types,
    SUM(CAST(observation_count AS INT)) AS counts,
    SUM(CAST(observation_count AS INT)) / SUM(SUM(CAST(observation_count AS INT))) OVER () AS prob
FROM '{db_file}'
WHERE observation_count != 'X'
AND observation_date LIKE '2005-09%'
GROUP BY 1
ORDER BY counts DESC
"""
results = duckdb.sql(sql)
results_df = results.df()
results_df['total_unique'] = len(results_df.index)
results_df.to_csv('data/allotaxp_vt_2005_sept.csv')
results_df

,types,counts,prob,total_unique
0,Tree Swallow (Tachycineta bicolor),650762.0,1.528763e-01,832
1,Red-winged Blackbird (Agelaius phoeniceus),322389.0,7.573529e-02,832
2,Broad-winged Hawk (Buteo platypterus),182179.0,4.279730e-02,832
3,European Starling (Sturnus vulgaris),115531.0,2.714042e-02,832
4,Sooty Shearwater (Ardenna grisea),115379.0,2.710472e-02,832
...,...,...,...,...
827,Pomarine/Parasitic Jaeger (Stercorarius pomari...,1.0,2.349190e-07,832
828,Sooty/Bridled Tern (Onychoprion fuscatus/anaet...,1.0,2.349190e-07,832
829,Spot-breasted Oriole (Icterus pectoralis),1.0,2.349190e-07,832
830,Helmeted Guineafowl (Numida meleagris),1.0,2.349190e-07,832
831,Aleutian Tern (Onychoprion aleuticus),1.0,2.349190e-07,832

### 2010

In [16]:
yr = 2010
db_file = f"data/ebird_{yr}.parquet"
sql = f"""
SELECT
    common_name || ' (' || scientific_name || ')' as types,
    SUM(CAST(observation_count AS INT)) AS counts,
    SUM(CAST(observation_count AS INT)) / SUM(SUM(CAST(observation_count AS INT))) OVER () AS prob
FROM '{db_file}'
WHERE observation_count != 'X'
AND observation_date LIKE '{yr}-09%'
GROUP BY 1
ORDER BY counts DESC
"""
results = duckdb.sql(sql)
results_df = results.df()
results_df['total_unique'] = len(results_df.index)
results_df.to_csv(f"data/allotaxp_vt_{yr}_sept.csv")
results_df

,types,counts,prob,total_unique
0,Short-tailed Shearwater (Ardenna tenuirostris),3173035.0,1.818662e-01,970
1,Tree Swallow (Tachycineta bicolor),1097611.0,6.291085e-02,970
2,Red-winged Blackbird (Agelaius phoeniceus),621550.0,3.562486e-02,970
3,Common Grackle (Quiscalus quiscula),601323.0,3.446553e-02,970
4,European Starling (Sturnus vulgaris),494450.0,2.833998e-02,970
...,...,...,...,...
965,African Collared-Dove (Streptopelia roseogrisea),1.0,5.731616e-08,970
966,Cassin's/Blue-headed Vireo (Vireo cassinii/sol...,1.0,5.731616e-08,970
967,Loggerhead/Northern Shrike (Lanius ludovicianu...,1.0,5.731616e-08,970
968,Western Kingbird x Scissor-tailed Flycatcher (...,1.0,5.731616e-08,970
969,Helmeted Guineafowl (Numida meleagris),1.0,5.731616e-08,970

### 2015

In [17]:
yr = 2015
db_file = f"data/ebird_{yr}.parquet"
sql = f"""
SELECT
    common_name || ' (' || scientific_name || ')' as types,
    SUM(CAST(observation_count AS INT)) AS counts,
    SUM(CAST(observation_count AS INT)) / SUM(SUM(CAST(observation_count AS INT))) OVER () AS prob
FROM '{db_file}'
WHERE observation_count != 'X'
AND observation_date LIKE '{yr}-09%'
GROUP BY 1
ORDER BY counts DESC
"""
results = duckdb.sql(sql)
results_df = results.df()
results_df['total_unique'] = len(results_df.index)
results_df.to_csv(f"data/allotaxp_vt_{yr}_sept.csv")
results_df

,types,counts,prob,total_unique
0,Sooty Shearwater (Ardenna grisea),7960187.0,1.355633e-01,1125
1,Tree Swallow (Tachycineta bicolor),6751082.0,1.149720e-01,1125
2,Short-tailed Shearwater (Ardenna tenuirostris),5351546.0,9.113768e-02,1125
3,European Starling (Sturnus vulgaris),1738113.0,2.960034e-02,1125
4,Eared Grebe (Podiceps nigricollis),1269922.0,2.162697e-02,1125
...,...,...,...,...
1120,kingfisher sp. (Alcedinidae sp.),1.0,1.703016e-08,1125
1121,Lavender Waxbill (Glaucestrilda caerulescens),1.0,1.703016e-08,1125
1122,screech-owl sp. (Megascops sp.),1.0,1.703016e-08,1125
1123,Chilean Flamingo (Phoenicopterus chilensis),1.0,1.703016e-08,1125
1124,Red-naped/Red-breasted Sapsucker (Sphyrapicus ...,1.0,1.703016e-08,1125

### 2020

In [19]:
yr = 2020
db_file = f"data/ebird_{yr}.parquet"
sql = f"""
SELECT
    common_name || ' (' || scientific_name || ')' as types,
    SUM(CAST(observation_count AS INT)) AS counts,
    SUM(CAST(observation_count AS INT)) / SUM(SUM(CAST(observation_count AS INT))) OVER () AS prob
FROM '{db_file}'
WHERE observation_count != 'X'
AND observation_date LIKE '{yr}-09%'
GROUP BY 1
ORDER BY counts DESC
"""
results = duckdb.sql(sql)
results_df = results.df()
results_df['total_unique'] = len(results_df.index)
results_df.to_csv(f"data/allotaxp_vt_{yr}_sept.csv")
results_df

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,types,counts,prob,total_unique
0,Tree Swallow (Tachycineta bicolor),5719811.0,7.422113e-02,1160
1,European Starling (Sturnus vulgaris),3042302.0,3.947737e-02,1160
2,Canada Goose (Branta canadensis),2859319.0,3.710295e-02,1160
3,Purple Martin (Progne subis),2322717.0,3.013993e-02,1160
4,Red-winged Blackbird (Agelaius phoeniceus),2086386.0,2.707326e-02,1160
...,...,...,...,...
1155,golden-plover sp. (Pluvialis apricaria/dominic...,1.0,1.297615e-08,1160
1156,Cookilaria petrel sp. (Pterodroma sp. (Cookila...,1.0,1.297615e-08,1160
1157,white-winged gull sp. (Larus sp. (white-winged...,1.0,1.297615e-08,1160
1158,Little Blue x Tricolored Heron (hybrid) (Egret...,1.0,1.297615e-08,1160
1159,Red-throated Pipit (Anthus cervinus),1.0,1.297615e-08,1160

### 2021

In [5]:
yr = 2021
db_file = f"data/ebird_{yr}.parquet"
sql = f"""
SELECT
    common_name || ' (' || scientific_name || ')' as types,
    SUM(CAST(observation_count AS INT)) AS counts,
    SUM(CAST(observation_count AS INT)) / SUM(SUM(CAST(observation_count AS INT))) OVER () AS prob
FROM '{db_file}'
WHERE observation_count != 'X'
AND observation_date LIKE '{yr}-09%'
GROUP BY 1
ORDER BY counts DESC
"""
results = duckdb.sql(sql)
results_df = results.df()
results_df['total_unique'] = len(results_df.index)
results_df.to_csv(f"data/allotaxp_vt_{yr}_sept.csv")
results_df

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,types,counts,prob,total_unique
0,Tree Swallow (Tachycineta bicolor),11856375.0,1.332140e-01,1189
1,European Starling (Sturnus vulgaris),2960319.0,3.326108e-02,1189
2,Canada Goose (Branta canadensis),2947590.0,3.311806e-02,1189
3,Red-winged Blackbird (Agelaius phoeniceus),2119740.0,2.381663e-02,1189
4,Ring-billed Gull (Larus delawarensis),2081058.0,2.338202e-02,1189
...,...,...,...,...
1184,Black-winged Petrel (Pterodroma nigripennis),1.0,1.123564e-08,1189
1185,Kirtland's Warbler (Setophaga kirtlandii),1.0,1.123564e-08,1189
1186,Azure Tit (Cyanistes cyanus),1.0,1.123564e-08,1189
1187,lovebird sp. (Agapornis sp.),1.0,1.123564e-08,1189
1188,Red-billed/Red-tailed Tropicbird (Phaethon aet...,1.0,1.123564e-08,1189

### 2022

In [6]:
yr = 2022
db_file = f"data/ebird_{yr}.parquet"
sql = f"""
SELECT
    common_name || ' (' || scientific_name || ')' as types,
    SUM(CAST(observation_count AS INT)) AS counts,
    SUM(CAST(observation_count AS INT)) / SUM(SUM(CAST(observation_count AS INT))) OVER () AS prob
FROM '{db_file}'
WHERE observation_count != 'X'
AND observation_date LIKE '{yr}-09%'
GROUP BY 1
ORDER BY counts DESC
"""
results = duckdb.sql(sql)
results_df = results.df()
results_df['total_unique'] = len(results_df.index)
results_df.to_csv(f"data/allotaxp_vt_{yr}_sept.csv")
results_df

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,types,counts,prob,total_unique
0,Tree Swallow (Tachycineta bicolor),14144151.0,1.466920e-01,1204
1,Crested Auklet (Aethia cristatella),3806926.0,3.948245e-02,1204
2,Short-tailed Shearwater (Ardenna tenuirostris),3268521.0,3.389853e-02,1204
3,Canada Goose (Branta canadensis),3141368.0,3.257980e-02,1204
4,European Starling (Sturnus vulgaris),2732165.0,2.833587e-02,1204
...,...,...,...,...
1199,Melanerpes sp. (Melanerpes sp.),1.0,1.037122e-08,1204
1200,Magpie Shrike (Lanius melanoleucus),1.0,1.037122e-08,1204
1201,Red-crowned x Red-lored Parrot (hybrid) (Amazo...,1.0,1.037122e-08,1204
1202,kingfisher sp. (Alcedinidae sp.),1.0,1.037122e-08,1204
1203,Loggerhead/Northern Shrike (Lanius ludovicianu...,1.0,1.037122e-08,1204