In [1]:
import duckdb
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import statsmodels.api as sm

### 2020

In [2]:
db_file = 'data/ebird_2020.parquet'

In [24]:
sql = f"""
SELECT
    scientific_name as types,
    SUM(CAST(observation_count AS INT)) AS counts,
    SUM(CAST(observation_count AS INT)) / SUM(SUM(CAST(observation_count AS INT))) OVER () AS prob
FROM '{db_file}'
WHERE observation_count != 'X'
GROUP BY scientific_name
ORDER BY counts DESC
"""
results = duckdb.sql(sql)
results_df = results.df()
results_df['total_unique'] = len(results_df.index)
results_df

In [27]:
results_df.to_csv('data/allotaxp_2020.csv')

### 2005

In [28]:
db_file = 'data/ebird_2005.parquet'

In [29]:
sql = f"""
SELECT
    scientific_name as types,
    SUM(CAST(observation_count AS INT)) AS counts,
    SUM(CAST(observation_count AS INT)) / SUM(SUM(CAST(observation_count AS INT))) OVER () AS prob
FROM '{db_file}'
WHERE observation_count != 'X'
GROUP BY scientific_name
ORDER BY counts DESC
"""
results = duckdb.sql(sql)
results_df = results.df()
results_df['total_unique'] = len(results_df.index)
results_df

                                 types      counts          prob  total_unique
0                  Agelaius phoeniceus  13995306.0  2.009507e-01          1196
1                   Quiscalus quiscula   4950668.0  7.108386e-02          1196
2                   Anser caerulescens   3160916.0  4.538581e-02          1196
3                    Branta canadensis   2910003.0  4.178310e-02          1196
4                  Phalaropus tricolor   2399966.0  3.445976e-02          1196
...                                ...         ...           ...           ...
1191                      Tyrannus sp.         1.0  1.435844e-08          1196
1192               Dendrocygna arborea         1.0  1.435844e-08          1196
1193     Setophaga cerulea x americana         1.0  1.435844e-08          1196
1194       Icterus bullockii x galbula         1.0  1.435844e-08          1196
1195  Setophaga townsendi/occidentalis         1.0  1.435844e-08          1196

[1196 rows x 4 columns]

In [30]:
results_df.to_csv('data/allotaxp_2005.csv')

### 2010

In [32]:
db_file = 'data/ebird_2010.parquet'

In [33]:
sql = f"""
SELECT
    scientific_name as types,
    SUM(CAST(observation_count AS INT)) AS counts,
    SUM(CAST(observation_count AS INT)) / SUM(SUM(CAST(observation_count AS INT))) OVER () AS prob
FROM '{db_file}'
WHERE observation_count != 'X'
GROUP BY scientific_name
ORDER BY counts DESC
"""
results = duckdb.sql(sql)
results_df = results.df()
results_df['total_unique'] = len(results_df.index)
results_df

                               types      counts          prob  total_unique
0                Agelaius phoeniceus  24929071.0  9.150201e-02          1284
1                Tachycineta bicolor  23267210.0  8.540216e-02          1284
2                 Anser caerulescens  17368656.0  6.375155e-02          1284
3                  Branta canadensis  13130226.0  4.819442e-02          1284
4                 Quiscalus quiscula  11541078.0  4.236146e-02          1284
...                              ...         ...           ...           ...
1279                 Estrildidae sp.         1.0  3.670494e-09          1284
1280                   Fregata ariel         1.0  3.670494e-09          1284
1281      Spizella pallida x pusilla         1.0  3.670494e-09          1284
1282         Anas rubripes/fulvigula         1.0  3.670494e-09          1284
1283  Cardinalis cardinalis/sinuatus         1.0  3.670494e-09          1284

[1284 rows x 4 columns]

In [34]:
results_df.to_csv('data/allotaxp_2010.csv')

### 2015

In [35]:
db_file = 'data/ebird_2015.parquet'

In [36]:
sql = f"""
SELECT
    scientific_name as types,
    SUM(CAST(observation_count AS INT)) AS counts,
    SUM(CAST(observation_count AS INT)) / SUM(SUM(CAST(observation_count AS INT))) OVER () AS prob
FROM '{db_file}'
WHERE observation_count != 'X'
GROUP BY scientific_name
ORDER BY counts DESC
"""
results = duckdb.sql(sql)
results_df = results.df()
results_df['total_unique'] = len(results_df.index)
results_df

IOException: IO Error: No files found that match the pattern "data/ebird_2015.parquet"